# Dependency directories
node_modules/

# Next.js build output
.next/

# Build directories (if any custom ones)
dist/
build/

# Static export (if using `next export`)
out/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/editor specific files
.vscode/
.idea/

# Operating system files
.DS_Store
public/.DS_Store

# Other possible ignores
*.log
*.tmp
*.cache

# Ignore static assets if they

